<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <img src="youtube.png" alt="100 suscriptores" class="card-img-top">
            <div class="card-doby">
                <h2>30USD</h2>
                <p>
                    100 suscriptores
                </p>
            </div>
            <div class="card-footer">
                <form action="/checkout" method="POST">
                    <script src= "http://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="pk_test_51GsNKcFWHBGX5OZcTDZcDETtHl0iJXInDdh4h3gpfXzi8GqJPlkE0adyFJOLVB0VAEOfJlYVZ1QNoEs8isE5jX3x00v6KzTkej" data-amount="3000"
                        data-name="LikedMe"
                        data-description="100 suscriptores"
                        data-image="/youtube.png"
                        data-locale="auto">
                        </script>
                        <script>
                            document.getElementsByClassName('stripe-button-el')[0].style.display = 'none'
                        </script>
                         <button class="btn btn-dark btn-block">
                    comprar <i class="fas fa-shopping-cart"></i>
                </button>
                </form>

               
            </div>
        </div>
    </div>
</div>